@charset "UTF-8";

session {
	background-color: beige;
	font-family: 'Times New Roman', Times, serif;
	color: black;
	border-radius: 10px;
	width: 92%;
	margin: 10px auto; 
	padding-top: 20px;
	padding-bottom: 20px; 
}

/* WEATHER */

.fivedayforecast {
	display: flex;
    flex-flow: row wrap; 
    justify-content: space-around; 
	padding: 10px;
}

button {
	justify-content: flex-end; 
}

.weatherImg {
	
}

.high {
	padding-left: 10px;
	padding-top: 10px;
}

.low {
	color: #000;
	margin: 0;
}

/* PHONE VERSION */
  
  @media (max-width: 500px) {
  
.fivedayforecast {
    display: flex; 
    flex-wrap: wrap; 
	border-radius: 10px;
	width: 100%;
	margin: 30px 50px;
	min-height: 500px;
	padding-top: 10px;
}
	
.weatherImg {
	
}

.high {
	color: salmon;
	margin: 0; 
}

.low {
	color: lightblue;
	margin: 0;
}
  
 }